.wrapper{
    background: url(../../assets/pexels-cottonbro-6804581.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:70vh;
}
ul li a{
    text-align: center;
}
.container-fluid .git {
    border: 1px solid black;
    border-radius: 28px 28px;
    padding: 10px;
    background:linear-gradient(#61606E,#1D212A,#2B2A2F,#A0A1A5) ;
}
.container-fluid .git a{
    color: white;
    font-weight: 300;
}
.nav-link:hover{
    color: white !important;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid black;
    padding: 10px;
    border-radius: 18px 18px 18px;
    background:linear-gradient(#61606E,#1D212A) ;
}
.navlink >a{
    color: black;
}